<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-104487109-2"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "UA-104487109-2");
    </script>
    <!-- Google AdSense -->
    <script
      data-ad-client="ca-pub-5119027442707519"
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"
    ></script>

    <!-- Site info -->
    <meta charset="utf-8" />
    <title>Marco Santos</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Marco Santos, a 22-year-old Software Engineer and Data Scientist • Official Website"
    />
    <!-- Favicon -->
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="favicon/apple-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="favicon/apple-icon-60x60.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="favicon/apple-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="favicon/apple-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="favicon/apple-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="favicon/apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="favicon/apple-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="favicon/apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="favicon/apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="favicon/android-icon-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="favicon/favicon-96x96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="favicon/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta
      name="msapplication-TileImage"
      content="favicon/ms-icon-144x144.png"
    />
    <meta name="theme-color" content="#ffffff" />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <!-- Own CSS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="/styles/style.css"
      media="screen"
    />
  </head>

  <body
    class="text-light position-relative"
    data-spy="scroll"
    data-target="#navbar"
    data-offset="300"
  >
    <!-- Navbar (Bootstrap) -->
    <nav id="navbar" class="navbar navbar-expand-lg bg-0 navbar-dark fixed-top">
      <a class="navbar-brand" href="#meetMarco"
        ><span class="font-weight-bold">Marco</span>Santos</a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link nav-link-inside" href="#meetMarco"
              >Who Am I? <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-inside" href="#projectsShowcase"
              >Projects</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-inside" href="#lifeCareer"
              >Life & Career</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-inside" href="#skills">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-inside" href="#contact"
              ><i class="fas fa-envelope"></i
            ></a>
          </li>
          <li class="nav-item d-lg-none mt-2 mb-3">
            <a
              class="nav-link d-inline mr-2 disabled nav-social-txt"
              href="#social"
              style="color:rgba(255, 255, 255, 0.5);"
              >Connect:</a
            >
            <a
              class="nav-link d-inline mr-2"
              href="https://github.com/santosmarco"
              target="_blank"
              ><i class="fab fa-github"></i
            ></a>
            <a
              class="nav-link d-inline mr-2"
              href="https://www.linkedin.com/in/marcoaureliocsantos/"
              target="_blank"
              ><i class="fab fa-linkedin"></i
            ></a>
            <a
              class="nav-link d-inline mr-2"
              href="https://twitter.com/santosmarco_"
              target="_blank"
              ><i class="fab fa-twitter"></i
            ></a>
            <a
              class="nav-link d-inline"
              href="https://www.instagram.com/santosmarco_"
              target="_blank"
              ><i class="fab fa-instagram"></i
            ></a>
          </li>
          <li class="nav-item d-none d-lg-block ml-3">
            <a
              class="nav-link"
              href="https://github.com/santosmarco"
              target="_blank"
              ><i class="fab fa-github"></i
            ></a>
          </li>
          <li class="nav-item d-none d-lg-block">
            <a
              class="nav-link"
              href="https://www.linkedin.com/in/marcoaureliocsantos/"
              target="_blank"
              ><i class="fab fa-linkedin"></i
            ></a>
          </li>
          <li class="nav-item d-none d-lg-block">
            <a
              class="nav-link"
              href="https://twitter.com/santosmarco_"
              target="_blank"
              ><i class="fab fa-twitter"></i
            ></a>
          </li>
          <li class="nav-item d-none d-lg-block">
            <a
              class="nav-link"
              href="https://www.instagram.com/santosmarco_"
              target="_blank"
              ><i class="fab fa-instagram"></i
            ></a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Meet Marco section -->
    <section id="meetMarco" class="bg-2 min-vh-100 d-flex align-items-center">
      <div id="meetMarcoContainer" class="container py-5">
        <div id="meetMarcoHeader" class="row mb-5">
          <div class="col text-left">
            <h1 class="mb-1">Meet Marco</h1>
            <div class="header-hr"></div>
          </div>
        </div>
        <div
          id="meetMarcoContent"
          class="row mb-4 align-items-start justify-content-between"
        >
          <div id="meetMarcoBody" class="col-12 col-md-7">
            <div id="meetMarcoBodyText">
              <p>
                Marco Santos is a 22-year-old Software Engineer and Data
                Scientist, born and currently living in Rio de Janeiro, Brazil.
              </p>
              <p>
                I am fascinated by the development of websites and web/mobile
                applications in general, which are always driven by my desire to
                impressively improve one's life.
              </p>
              <p>
                I am self-taught. Feel free to take a good look on all my
                projects below.
              </p>
            </div>
            <div
              id="meetMarcoBodyButtons"
              class="mt-4 d-md-flex align-items-center"
            >
              <a
                id="downloadCVBtn"
                class="btn btn-primary mr-3 mb-2 mb-md-0"
                href="#projectsShowcase"
                >Download curriculum</a
              >
            </div>
          </div>
          <div
            id="meetMarcoPicContainer"
            class="col-12 col-md-5 col-lg-4 order-first order-md-last"
          >
            <img
              id="meetMarcoPic"
              src="/assets/profile-pic.jpg"
              alt="Profile picture of Marco Santos"
              class="rounded-circle w-100 mb-4 mb-md-0"
            />
          </div>
        </div>
      </div>
    </section>

    <!-- Projects section -->
    <section id="projectsShowcase" class="bg-4 pt-5">
      <div id="projectsShowcaseContainer" class="container">
        <div id="projectsShowcaseHeader" class="row mb-5">
          <div class="col text-left">
            <h1 class="mb-1">Projects Showcase</h1>
            <div class="header-hr bg-0"></div>
          </div>
        </div>
      </div>
      <div
        id="projectsShowcaseContent"
        class="d-block bg-dark py-4 px-3"
        style="overflow-x:auto;white-space: nowrap;"
      >
        <div
          class="d-flex font-italic text-white align-items-center justify-content-center"
          style="height:400px;"
        >
          Loading projects... <i class="fas fa-spinner fa-pulse ml-1"></i>
        </div>
      </div>
    </section>

    <!-- Life & Career section -->
    <section id="lifeCareer" class="bg-3">
      <div id="lifeCareerContainer" class="container py-5">
        <div id="lifeCareerHeader" class="row mb-5">
          <div class="col text-left">
            <h1 class="mb-1">Life & Career</h1>
            <div class="header-hr"></div>
          </div>
        </div>
        <div id="lifeCareerContent" class="row mb-4">
          <div class="col">
            <span id="lifeCareerDescription"
              >I organized my entire life and career into five easy-to-read
              chapters. Feel free to read them all and get to know me
              better.</span
            >
            <hr class="mt-2 mb-4 bg-6" />
            <div id="lifeCareerMain">
              <div id="lc1Container">
                <a
                  data-toggle="collapse"
                  href="#lc1"
                  role="button"
                  aria-expanded="false"
                  aria-controls="lc1"
                >
                  <h6 id="lc1Title" class="mb-0">
                    Early life
                    <i id="lc1Chevron" class="fas fa-chevron-down ml-1"></i>
                  </h6>
                </a>
                <div id="lc1" class="lc-collapse ml-3 collapse mb-4 mt-2">
                  <p>
                    I was born in October 13th, 1997, in Rio de Janeiro.
                  </p>
                  <p>
                    My father had (and still has) a plastics industry company;
                    and mama, well, she was so busy taking care of my creatively
                    messy childhood.
                    <span class="font-italic">(let's call that way)</span>
                  </p>
                  <p>
                    In 2015, at the age of 18, I graduated from both high school
                    (Colégio e Curso pH) and an English course I had been taking
                    since I was five (Cultura Inglesa). These were one of the
                    best high school and English course chains in Brazil at the
                    time.
                  </p>
                </div>
              </div>
              <div id="lc2Container" class="mt-3">
                <a
                  data-toggle="collapse"
                  href="#lc2"
                  role="button"
                  aria-expanded="false"
                  aria-controls="lc2"
                >
                  <h6 id="lc2Title" class="mb-0">
                    Universities tour
                    <i id="lc2Chevron" class="fas fa-chevron-down ml-1"></i>
                  </h6>
                </a>
                <div id="lc2" class="ml-3 collapse mb-4 mt-2">
                  <p>
                    One year after that, I went to college. Firstly, I enrolled
                    in Aeronautical Sciences in the Pontífica Universidade
                    Católica of Rio Grande do Sul (about 1,000 miles away from
                    Rio). My dream had always been to be an airline pilot, but I
                    did not like the course... fortunatelly.
                  </p>
                  <p>
                    So I came back to Rio.
                  </p>
                  <p>
                    Later in the same year, I joined Universidade Federal
                    Fluminense, this time to course Production Engineering. But
                    guess what? I dropped out.
                  </p>
                  <p>
                    There were two main reasons for me to give up formal
                    education: the first and most important one was that I had
                    never liked the way we are taught on universities; and the
                    second one is that I started working for my dad.
                  </p>
                </div>
              </div>
              <div id="lc3Container" class="mt-3">
                <a
                  data-toggle="collapse"
                  href="#lc3"
                  role="button"
                  aria-expanded="false"
                  aria-controls="lc3"
                >
                  <h6 id="lc3Title" class="mb-0">
                    Early career
                    <i id="lc3Chevron" class="fas fa-chevron-down ml-1"></i>
                  </h6>
                </a>
                <div id="lc3" class="lc-collapse ml-3 collapse mb-4 mt-2">
                  <p>
                    One year after that, I went to college. Firstly, I enrolled
                    in Aeronautical Sciences in the Pontífica Universidade
                    Católica of Rio Grande do Sul (about 1,000 miles away from
                    Rio). My dream had always been to be an airline pilot, but I
                    did not like the course... fortunatelly.
                  </p>
                  <p>
                    So I came back to Rio.
                  </p>
                  <p>
                    Later in the same year, I joined Universidade Federal
                    Fluminense, this time to course Production Engineering. But
                    guess what? I dropped out.
                  </p>
                  <p>
                    There were two main reasons for me to give up formal
                    education: the first and most important one was that I had
                    never liked the way we are taught on universities; and the
                    second one is that I started working for my dad.
                  </p>
                </div>
              </div>
              <div id="lc4Container" class="mt-3">
                <a
                  data-toggle="collapse"
                  href="#lc4"
                  role="button"
                  aria-expanded="false"
                  aria-controls="lc4"
                >
                  <h6 id="lc4Title" class="mb-0">
                    The development journey
                    <i id="lc4Chevron" class="fas fa-chevron-down ml-1"></i>
                  </h6>
                </a>
                <div id="lc4" class="lc-collapse ml-3 collapse mb-4 mt-2">
                  <p>
                    One year after that, I went to college. Firstly, I enrolled
                    in Aeronautical Sciences in the Pontífica Universidade
                    Católica of Rio Grande do Sul (about 1,000 miles away from
                    Rio). My dream had always been to be an airline pilot, but I
                    did not like the course... fortunatelly.
                  </p>
                  <p>
                    So I came back to Rio.
                  </p>
                  <p>
                    Later in the same year, I joined Universidade Federal
                    Fluminense, this time to course Production Engineering. But
                    guess what? I dropped out.
                  </p>
                  <p>
                    There were two main reasons for me to give up formal
                    education: the first and most important one was that I had
                    never liked the way we are taught on universities; and the
                    second one is that I started working for my dad.
                  </p>
                </div>
              </div>
              <div id="lc5Container" class="mt-3">
                <a
                  data-toggle="collapse"
                  href="#lc5"
                  role="button"
                  aria-expanded="false"
                  aria-controls="lc5"
                >
                  <h6 id="lc5Title" class="mb-0">
                    Present
                    <i id="lc5Chevron" class="fas fa-chevron-down ml-1"></i>
                  </h6>
                </a>
                <div id="lc5" class="lc-collapse ml-3 collapse mt-2">
                  <p>
                    One year after that, I went to college. Firstly, I enrolled
                    in Aeronautical Sciences in the Pontífica Universidade
                    Católica of Rio Grande do Sul (about 1,000 miles away from
                    Rio). My dream had always been to be an airline pilot, but I
                    did not like the course... fortunatelly.
                  </p>
                  <p>
                    So I came back to Rio.
                  </p>
                  <p>
                    Later in the same year, I joined Universidade Federal
                    Fluminense, this time to course Production Engineering. But
                    guess what? I dropped out.
                  </p>
                  <p class="mb-0">
                    There were two main reasons for me to give up formal
                    education: the first and most important one was that I had
                    never liked the way we are taught on universities; and the
                    second one is that I started working for my dad.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Skills section -->
    <section id="skills" class="bg-6 py-5">
      <div id="skillsContainer" class="container mb-4">
        <div id="skillsHeader" class="row mb-5">
          <div class="col text-left">
            <h1 class="mb-1">Skills</h1>
            <div class="header-hr bg-0"></div>
          </div>
        </div>
        <div id="skillsMenu" class="row">
          <div
            class="d-flex d-md-none col align-items-center justify-content-between"
          >
            <h6 class="mb-0">
              <span id="skillsMenuCurrent">Programming</span> skills
            </h6>
            <div id="skillsMenuDropdown" class="dropdown">
              <button
                class="btn btn-primary btn-sm px-3"
                type="button"
                id="dropdownMenuButton"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Change
                <i
                  id="skillsMenuDropdownChevron"
                  class="fas fa-chevron-down ml-1"
                ></i>
              </button>
              <div
                id="skillsMenuDropdownMenu"
                class="dropdown-menu dropdown-menu-right"
                aria-labelledby="dropdownMenuButton"
              >
                <a
                  id="sMI-SM-Programming"
                  class="dropdown-item skills-menu-item-sm active"
                  href="#"
                  >Programming</a
                >
                <a
                  id="sMI-SM-Data-science"
                  class="dropdown-item skills-menu-item-sm"
                  href="#"
                  >Data science</a
                >
                <a
                  id="sMI-SM-Design"
                  class="dropdown-item skills-menu-item-sm"
                  href="#"
                  >Design</a
                >
                <a
                  id="sMI-SM-Project-management"
                  class="dropdown-item skills-menu-item-sm"
                  href="#"
                  >Project management</a
                >
                <a
                  id="sMI-SM-Soft"
                  class="dropdown-item skills-menu-item-sm"
                  href="#"
                  >Soft skills</a
                >
              </div>
            </div>
          </div>
          <div
            class="d-none d-md-flex col btn-group btn-group-sm"
            role="group"
            aria-label="..."
          >
            <button
              id="sMI-Programming"
              type="button"
              class="skills-menu-item btn btn-secondary px-3"
            >
              Programming
            </button>
            <button
              id="sMI-Data-science"
              type="button"
              class="skills-menu-item btn btn-primary px-3"
            >
              Data Science
            </button>
            <button
              id="sMI-Design"
              type="button"
              class="skills-menu-item btn btn-primary px-3"
            >
              Design
            </button>
            <button
              id="sMI-Project-management"
              type="button"
              class="skills-menu-item btn btn-primary px-3"
            >
              Project management
            </button>
            <button
              id="sMI-Soft"
              type="button"
              class="skills-menu-item btn btn-primary px-3"
            >
              Soft skills
            </button>
          </div>
        </div>
      </div>
      <div class="container">
        <a id="skillsCertificationsLink" href="/c/programming"
          ><h6 class="my-0">
            See
            <span id="skillsCertificationsTitle">Programming</span>
            certifications
          </h6></a
        >
        <hr class="mt-2 mb-4" />
      </div>
      <div id="skillsContent" class="container mb-4"></div>
    </section>

    <!-- Contact section -->
    <section id="contact" class="bg-1">
      <div id="contactContainer" class="container py-5">
        <div id="contactHeader" class="row mb-5">
          <div class="col text-left">
            <h1 class="mb-1">Talk to Marco</h1>
            <div class="header-hr"></div>
          </div>
        </div>
        <div id="contactContent" class="row mb-4">
          <div class="col">
            <span id="contactDescription"
              >Feel free to send me suggestions, compliments, complaints... or
              to just talk to me. :)</span
            >
            <hr class="mt-2 mb-4 bg-6" />
            <div id="contactMain">
              <form id="contactForm" action="/contact" method="post">
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="contactFormName">Name *</label>
                    <input
                      type="text"
                      class="form-control"
                      id="contactFormName"
                      name="name"
                      required
                    />
                  </div>
                  <div class="form-group col-md-6">
                    <label for="contactFormEmail">E-mail *</label>
                    <input
                      type="email"
                      class="form-control"
                      id="contactFormEmail"
                      name="email"
                      required
                    />
                  </div>
                </div>
                <div class="form-group">
                  <label for="contactFormSubject">Subject *</label>
                  <select
                    id="contactFormSubject"
                    class="form-control"
                    name="subject"
                    required
                  >
                    <option id="cFSDefaultOption" selected>Work-related</option>
                    <option>Everything else</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="contactFormMessage">Message *</label>
                  <textarea
                    class="form-control"
                    id="contactFormMessage"
                    rows="5"
                    name="message"
                    required
                  ></textarea>
                </div>
                <button
                  id="contactFormSubmitBtn"
                  type="submit"
                  class="btn btn-secondary w-100"
                >
                  Send message <i class="fas fa-paper-plane ml-1"></i>
                </button>
              </form>
              <span id="contactFormStatus" class="d-none"></span>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="bg-6 py-4 text-center footer-shadow">
      Made with <i class="fas fa-heart text-danger"></i> by Marco Santos.
      <a href="https://github.com/santosmarco/personal-website">Source.</a>
    </footer>

    <!-- jQuery -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.js"
      integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
      crossorigin="anonymous"
    ></script>
    <!-- Popper -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <!-- Bootstrap JS -->
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <!-- Font Awesome -->
    <script
      src="https://kit.fontawesome.com/18063d9f4c.js"
      crossorigin="anonymous"
    ></script>
    <!-- Own JS -->
    <script type="module" src="/scripts/script.js" defer></script>
  </body>
</html>
